@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Poppins:ital@1&family=Roboto&display=swap');
.embla {
  --slide-spacing: 2rem;
  --slide-size: 12%;
  --slide-height: 19rem;
}
.slides_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.embla__viewport {
  overflow: hidden;
  width: 80vw;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;

  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);

  padding-left: var(--slide-spacing);
  position: relative;
}
.embla__slide__img {
  display: block;
  min-width: 210px;
  max-width: 210px;
  border-radius: 30px;
  object-fit: cover;
  height: 300px;
}
.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(45deg, var(--brand-primary), var(--brand-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.embla__button {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.embla__buttons {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.6rem;
}
.embla__button {
  z-index: 1;
  color: var(--background-site);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
.embla__button:disabled {
  opacity: 0.3;
}
.embla__button__svg {
  width: 65%;
  height: 65%;
}
.embla_image_shadow_container {
  position: relative;
  width: max-content;
  border-radius: 30px;
}
.poster_shadow {
  position: absolute;
  bottom: -1px;

  border-radius: 30px;
  width: 100%;
  height: 35.33%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.slider_items_container {
  position: relative;
  bottom: 5rem;
  z-index: 5;
}
.slider_item_title {
  font-size: 17px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}
.slider_item_subtext {
  font-size: 16px;

  color: rgb(151, 149, 149);
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #131212;
}

::-webkit-scrollbar-thumb {
  background-color: #685b5b;
  border-radius: 6px;
  border: 3px solid #000000;
}

* {
  scrollbar-color: #888 #f1f1f1;
}

/* Ширина бегунка (ползунка) */
*::-moz-scrollbar-thumb {
  width: 12px;
}

/* Обводка бегунка (ползунка) */
*::-moz-scrollbar-thumb {
  border-radius: 6px;
  border: 3px solid #fff;
}
@media screen and (max-width: 678px) {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: #131212;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #685b5b;
    border-radius: 6px;
    border: 3px solid #000000;
  }
}
@media screen and (max-width: 400px) {
  .slider_item_subtext {
    font-size: 14px;
  }
}
@media screen and (max-width: 300px) {
  .slider_item_subtext {
    font-size: 12px;
  }
}
