.anime_list_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.anime_items_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 3 колонки */
  gap: 16px; /* Расстояние между элементами */
  margin-bottom: 50px;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination li {
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.pagination a {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: white;
  color: black;
}

.pagination .active a {
  background-color: #007bff;
  color: #fff;
}
.hidden_next_button {
  visibility: hidden;
}
@media screen and (max-width: 1200px) {
  .anime_items_container {
    grid-template-columns: repeat(4, 1fr); /* 3 колонки */
  }
}
@media screen and (max-width: 963px) {
  .anime_items_container {
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  }
}
@media screen and (max-width: 706px) {
  .anime_items_container {
    grid-template-columns: repeat(2, 1fr); /* 3 колонки */
  }
}

@media screen and (max-width: 461px) {
  .anime_items_container {
    grid-template-columns: repeat(1, 1fr); /* 3 колонки */
  }
}
